{% extends 'admin.html.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Calendar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Calendar</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="sticky-top mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Draggable Events</h4>
                            </div>
                            <div class="card-body">
                                <!-- the events -->
                                <div id="external-events">
                                    {% for e in evs %}

                                    <div class="external-event" data-event='{ "title": "e.title", "backgroundColor": "e.backgroundColor" }' style="background-color: {{ e.backgroundColor }} ; color: #fff ; border-color: {{ e.borderColor }}">{{ e.title }}</div>

                                    {% endfor %}

                                    <div class="checkbox">
                                        <label for="drop-remove">
                                            <input type="checkbox" id="drop-remove">
                                            remove after drop
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Create Event</h3>
                            </div>
                            <div class="card-body">
                                <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                                    <ul class="fc-color-picker" id="color-chooser">
                                        <li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
                                        <li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
                                        <li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
                                        <li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
                                        <li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /btn-group -->
                                <div class="input-group">
                                    <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                                    <div class="input-group-append">
                                        <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
                                    </div>
                                    <!-- /btn-group -->
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary">
                        <div class="card-body p-0">
                            <!-- THE CALENDAR -->
                            <div id="calendar"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- jQuery -->
    <script src="{{ asset('Assets/') }}plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('Assets/') }}plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery UI -->
    <script src="{{ asset('Assets/') }}plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('Assets/') }}dist/js/adminlte.min.js"></script>
    <!-- fullCalendar 2.2.5 -->
    <script src="{{ asset('Assets/') }}plugins/moment/moment.min.js"></script>
    <script src="{{ asset('Assets/') }}plugins/fullcalendar/main.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('Assets/') }}dist/js/demo.js"></script>
    <!-- Page specific script -->


    <script>
        $(function () {

            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (https://fullcalendar.io/docs/event-object)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text())// use the element's text as the event title

                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex        : 1070,
                        revert        : true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }

            ini_events($('#external-events div.external-event'))

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d    = date.getDate(),
                m    = date.getMonth(),
                y    = date.getFullYear()

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendar.Draggable;

            var containerEl = document.getElementById('external-events');
            var checkbox = document.getElementById('drop-remove');
            var calendarEl = document.getElementById('calendar');
            let draggableEl = document.getElementById('mydraggable');
            var datas = {};
            // initialize the external events
            // -----------------------------------------------------------------

            new Draggable(containerEl, {
                itemSelector: '.external-event',
                eventData: function(eventEl) {
                    datas = {
                        title: eventEl.innerText,
                        backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
                        textColor:window.getComputedStyle( eventEl ,null).getPropertyValue('text-color'),
                        borderColor : window.getComputedStyle( eventEl ,null).getPropertyValue('border-color'),

                    };

                    return datas;
                }
            });

            var calendar = new Calendar(calendarEl, {
                headerToolbar: {
                    left  : 'prev,next today',
                    center: 'title',
                    right : 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                //Random default events


                events: {{ data|raw }},
                editable  : true,
                droppable : true, // this allows things to be dropped onto the calendar !!!
                drop: function (info) {
                    // message to end user
                  console.log(info);
                    if (checkbox.checked) {
                        // if so, remove the element from the "Draggable Events" list
                        info.draggedEl.parentNode.removeChild(info.draggedEl);
                    }
                    var dateStrings = info.date;

                    var dates = new Date(dateStrings);
                    var yrs= dates.getFullYear();
                    var mos = dates.getMonth() + 1;
                    var days = dates.getDate();

                    var hourss = dates.getHours();
                    var hrs = hourss < 10 ? '0' + hourss : hourss;

                    var minutess = dates.getMinutes();
                    var mins = (minutess < 10) ? '0' + minutess : minutess;

                    var secondss = dates.getSeconds();
                    var secs = (secondss < 10) ? '0' + secondss : secondss;

                    var newDateStrings = yrs + '-' + mos  + '-' + days;
                    var newTimeStrings = hrs + ':' + mins+ ':' + secs;

                    var starts = newDateStrings + ' ' + newTimeStrings;
                    /**
                     * perform ajax call for db update
                     */
                    let data = {
                        'title': datas.title,
                        'description':"this is a description for event",
                        'start':starts,
                        'end':starts,
                        'backgroundColor':datas.backgroundColor,
                        'borderColor':datas.borderColor,
                        'textColor':"#fff",
                        'allDay':true

                    };
                    $.ajax({
                        type: "POST",
                        url: '/educaus/public/admin/calendar/new',
                        data: data,
                        success: {
                        },

                    });// Remove event from text input
                },

            });

            calendar.render();
            // $('#calendar').fullCalendar()

            calendar.on('eventChange', (e)=>{

//////////////////////////////////
                var dateString = e.event.start;

                var date = new Date(dateString);
                var yr = date.getFullYear();
                var mo = date.getMonth() + 1;
                var day = date.getDate();

                var hours = date.getHours();
                var hr = hours < 10 ? '0' + hours : hours;

                var minutes = date.getMinutes();
                var min = (minutes < 10) ? '0' + minutes : minutes;

                var seconds = date.getSeconds();
                var sec = (seconds < 10) ? '0' + seconds : seconds;

                var newDateString = yr + '-' + mo  + '-' + day;
                var newTimeString = hr + ':' + min + ':' + sec;

                var start = newDateString + ' ' + newTimeString;
///////////////////////////////////////////////////////////////////////////
                var dateString1 = e.event.end;

                var date1 = new Date(dateString1);
                var yr1 = date1.getFullYear();
                var mo1 = date1.getMonth() + 1;
                var day1 = date1.getDate();

                var hours1 = date1.getHours();
                var hr1 = hours1 < 10 ? '0' + hours1 : hours1;

                var minutes1 = date1.getMinutes();
                var min1 = (minutes < 10) ? '0' + minutes1 : minutes1;

                var seconds1 = date1.getSeconds();
                var sec1 = (seconds1 < 10) ? '0' + seconds1 : seconds1;

                var newDateString1 = yr1 + '-' + mo1  + '-' + day1;
                var newTimeString1 = hr1 + ':' + min1 + ':' + sec1;

                var end = newDateString1 + ' ' + newTimeString1;
                console.log(end)
                let url = `/educaus/public/admin/eventChange/${e.event.id}`
                let data = {
                    'title': e.event.title,
                    'description':e.event.extendedProps.description,
                    'start':start,
                    'end':end,
                    'backgroundColor':e.event.backgroundColor,
                    'borderColor':e.event.borderColor,
                    'textColor':e.event.textColor,
                    'allDay':e.event.allDay

                }
                alert(e.event.allDay);
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: data,
                    success: {
                    },

                });// Remove event from text input


            });

            /* ADDING EVENTS */
            var currColor = '#3c8dbc' //Red by default
            // Color chooser button
            $('#color-chooser > li > a').click(function (e) {
                e.preventDefault()
                // Save color
                currColor = $(this).css('color')
                // Add color effect to button
                $('#add-new-event').css({
                    'background-color': currColor,
                    'border-color'    : currColor
                })
            })
            $('#add-new-event').click(function (e) {
                e.preventDefault()
                // Get value and make sure it is not null
                var val = $('#new-event').val()
                if (val.length == 0) {
                    return
                }

                // Create events
                var event = $('<div />')
                event.css({
                    'background-color': currColor,
                    'border-color'    : currColor,
                    'color'           : '#fff'
                }).addClass('external-event')
                event.text(val)
                $('#external-events').prepend(event)

                // Add draggable funtionality
                ini_events(event);

                 evento = {

                    'title': val,
                    'background_color':currColor,
                    'border_color':currColor,
                    'text_color':currColor
                }

                $.ajax({
                    type: "POST",
                    url: '/educaus/public/admin/event',
                    data: event,
                    success: {
                    },

                });// Remove event from text input
                $('#new-event').val('')
            })
        })
    </script>
{% endblock %}